@page
@model RepairShop.Areas.User.Pages.TransactionHeaders.IndexModel
@{
}
<div class="card shadow border-0 my-4">
    <div class="card-header text-white bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Transactions List
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                <div class="row mb-3">
                    <input hidden id="isAdmin" value="@User.IsInRole(SD.Role_Admin).ToString()" />
                    <div class="col-md-3">
                        <label>From:</label>
                        <input type="date" id="minDate" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label>To:</label>
                        <input type="date" id="maxDate" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Client:</label>
                        <div class="custom-multiselect">
                            <button type="button" class="form-select text-start" id="customMultiSelectToggle">
                                Select clients...
                            </button>
                            <div class="multiselect-dropdown" id="customMultiSelectDropdown">
                                <!-- Options will be populated dynamically -->
                            </div>
                            <input type="hidden" id="selectedValues" name="selectedValues">
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button id="applyFilters" title="Apply Filters" class="btn btn-primary mx-2 mt-2"><i class="bi bi-arrow-clockwise"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="col-6 text-end">
                @if (User.IsInRole(SD.Role_User))
                {
                    <a asp-page="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Transaction
                    </a>
                }
                
            </div>
        </div>
        <div class="table-responsive">
            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr class="table-primary">
                        <th>User Name</th><!-- (Admin only) -->
                        <th>Model</th>
                        <th>Serial Number</th>
                        <th>Status</th>
                        <th>Client Name</th>
                        <th>Created Date</th>
                        <th></th><!-- Parts (Admin Only) -->
                        <th></th><!-- Parts, Edit, Delete, Cancel (User Only) -->
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/transactionHeaders.js"></script>
}