html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .w-xl-60 {
        width: 60% !important;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Hero with background image + overlay */
.hero-section {
    position: relative;
    height: 100vh;
    background: url('/images/factory-with-industrial-equipment.jpg') no-repeat center center/cover;
}

    .hero-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.55); /* dark overlay */
        z-index: 0;
    }

    .hero-section .content {
        position: relative;
        z-index: 1;
    }

/* Simple fade-in animation */
.animate-fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*for history button*/
.swal-wide {
    width: 400px !important;
}