@page
@model RepairShop.Areas.User.Pages.Clients.ClientBranchUpsertModel
@{
}

<div class="card shadow border-0 my-4 w-100 w-xl-60 mx-auto">
    <div class="card-header text-white bg-primary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    @(Model.BranchForUpsert.Id != 0 ? "Edit" : "Create") Branch
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input type="hidden" asp-for="BranchForUpsert.Id" />
            <input type="hidden" asp-for="BranchForUpsert.ParentClientId" />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="BranchForUpsert.Name" class="form-control border-0 shadow" />
                            <label asp-for="BranchForUpsert.Name" class="ms-2"></label>
                            <span asp-validation-for="BranchForUpsert.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="BranchForUpsert.Phone" class="form-control border-0 shadow" />
                            <label asp-for="BranchForUpsert.Phone" class="ms-2"></label>
                            <span asp-validation-for="BranchForUpsert.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="BranchForUpsert.Email" class="form-control border-0 shadow" />
                            <label asp-for="BranchForUpsert.Email" class="ms-2"></label>
                            <span asp-validation-for="BranchForUpsert.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="BranchForUpsert.Address" class="form-control border-0 shadow" />
                            <label asp-for="BranchForUpsert.Address" class="ms-2"></label>
                            <span asp-validation-for="BranchForUpsert.Address" class="text-danger"></span>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.BranchForUpsert.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-page="ClientBranchIndex" asp-route-id="@Model.BranchForUpsert.ParentClientId" class="btn btn-outline-primary form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
